*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #7d41b5, #32cbbc);
    font-family:  "arial";
}
.card{
    width : 280px;
    height : 370px;
    margin : 100px auto;
    padding : 20px;
    background :#272d40;
    /*bo góc*/
    border-radius : 15px;
    color:rgb(246, 246, 246);
    text-align: center;
    overflow: hidden ;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.card h2{
    padding-top: 35px;
}
.card p{
    margin-top: 5px;
    color: orange;
}
.card_img{
    width :120px;
    height : 120px;
    border-radius : 50%;
    border: 4px solid rgb(255, 111, 0);
    overflow: hidden;
    margin : 0 auto;
    transform: translatey(25px);
}
.social{
    margin : 25px 0;
}
.social a{
    color: white;
    margin: 25px 20px;
}
.social a:hover{
    color: rgb(21, 160, 198);
}
.card button{
    width: 150px;
    height: 40px;
    border: 3px solid rgb(197, 139, 12);
    background: transparent;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.card button:hover{
    background: rgb(197, 89, 12);
    color: black;
}
.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform: unset;
    border: 4px solid rgb(255, 111, 0);
    transition: 0.5s;
}